<div class="location-card location-card-{{@index}}">
    <div>
        <h3>{{@office.name}}</h3>
        <p>{{@office.phone}}</p>
    </div>
    {{!-- LinkTo would go here to go to next step --}}
    <button type="button" class="button">Select</button>
</div>