<div class="side-panel">
    <div>
        <p class="side-panel__step">1. Clinician</p>
        <p class="side-panel__details side-panel__clinician">Rob Gross, MFT</p>
    </div>
    <div>
        <p class="side-panel__step {{if this.isServiceStep "bold"}}">2. Select a service</p>
        <p class="side-panel__details {{if this.isServiceStep "hidden"}}">Service details</p>
    </div>
    <div>
        <p class="side-panel__step {{if this.isLocationStep "bold"}}">3. Select a location</p>
    </div>
</div>
